/* 导航栏 */
nav {
  background: #ffffff;
  border-radius: 50px;
  padding: 10px;
  box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
}
nav ul li {
  list-style: none;
  display: inline-block;
  padding: 13px 35px;
  margin: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #777;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 0.5s;
  cursor: none;
}
nav ul li::after {
  content: '';
  background: #f44566;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
  transition: top 0.5s,opacity 0.5s;
}
nav ul li:hover{
  color: #fff;
}
nav ul li:hover::after{
  top: 50%;
  opacity: 1;
}

/* 实现瀑布流 */
/* 图库容器样式 */
body {
  font-family: Arial, sans-serif;
}

.gallery {
  column-count: 5; /* 列数 */
  column-gap: 10px; /* 列之间的间距 */
}

.gallery img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}
/* 响应式布局 */
        @media (min-width: 768px) {
            .gallery {
                column-count: 5; /* 大屏幕时显示3列 */
            }
        }

        @media (max-width: 767px) {
            .gallery {
                column-count: 3; /* 小屏幕时显示2列 */
            }
        }
        @media (max-width: 500px){
          .gallery{
            column-count: 1;
          }
        }