@font-face {
    font-family: "汉仪行楷";
    src: url(./汉仪行楷.ttf);
}

h1,h2,h3,p{
    font-family: "汉仪行楷";
}
p{
    font-size: 1em;
}
h1{
    font-size: 4em;
    padding: 0;
    margin: 0;
}
h2{
    font-size: 2.5em;
    margin: 0px;
    padding: 20px;
}
h3{
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none; /* 去掉超链接下的下划线 */
    cursor: none;/*去掉悬停时的手指图标*/
}

